<ion-header-bar class="bar-balanced bar bar-header">
    <button class="button button-clear" style="font-size: 12px;" ng-click="open('/order-cart')">返回</button>
    <h1 class="title">选择地址</h1>
    <button class="button button-clear" style="font-size: 12px;" ng-click="open('/address/add')">添加地址</button>
</ion-header-bar>
<ion-view>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    服务日期
                </div>
                <select ng-options="date for date in dates" ng-model="order.today"></select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    服务时间
                </div>
                <select ng-options="time for time in times" ng-model="order.now"></select>
            </label>
        </div>

        <ul class="list">

            <div class="alert" ng-if="!data">数据载入中...</div>

            <div class="alert" ng-if="data.length == 0">
                <p>暂无地址信息，请先添加地址</p>
                <p><button ng-click="open('/address/add')" class="button button-block button-balanced">添加地址</button></p>
            </div>

            <li class="item item-checkbox" ng-repeat="d in data">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox" ng-model="d.checkbox" ng-change="initCheckbox(d)">
                </label>
                <p>{{d.get('name')}} {{d.get('phone')}}</p>
                <p>
                    {{d.get('province')}} {{d.get('city')}} {{d.get('area')}} {{d.get('address')}}
                </p>
                <p class="text-right"><span>编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="error">删除</span></p>
            </li>
        </ul>
    </ion-content>
</ion-view>
<div class="bar bar-footer bar-balanced">
    <h1 class="title" ng-click="submit(order.today, order.now, order.currentCheck)">立即下单</h1>
</div>
