<ion-header-bar class="bar-balanced bar bar-header">
    <button class="button button-clear" style="font-size: 12px;" ng-click="open('/address')">返回</button>
    <h1 class="title">添加地址</h1>
</ion-header-bar>
<ion-view>
    <ion-content class="padding">
        <div class="row">
            <div class="col">姓名</div>
            <div class="col"><input type="text" placeholder="请填写姓名" style="border: 1px solid #e4e5e7; padding: 5px;"/></div>
        </div>

        <div class="row">
            <div class="col">手机号码</div>
            <div class="col"><input type="text" placeholder="请填写手机号码" style="border: 1px solid #e4e5e7; padding: 5px;"/></div>
        </div>

        <div class="row">
            <div class="col">选择城市</div>
            <div class="col">
                <select>
                    <option value="北京" selected>请选择城市</option>
                    <option value="上海" >上海</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">选择区域</div>
            <div class="col">
                <select>
                    <option value="北京" selected>请先选择城市</option>
                    <option value="上海" >上海</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">详细地址</div>
            <div class="col">
                <textarea name="" id="" cols="19" rows="5" style="border: 1px solid #e4e5e7; padding: 5px;" placeholder="请填写详细地址"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-balanced button-block">保存</button>
            </div>
        </div>
    </ion-content>
</ion-view>
