<ion-header-bar class="bar-balanced bar bar-header">
    <button class="button button-clear" style="font-size: 12px;" ng-click="open('/tab/home')">返回</button>
    <h1 class="title">选择地址</h1>
    <button class="button button-clear" style="font-size: 12px;" ng-click="open('/address/add')">添加地址</button>
</ion-header-bar>
<ion-view>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    服务日期
                </div>
                <select>
                    <option selected>2015年05月11日</option>
                    <option>2015年05月12日</option>
                    <option>2015年05月13日</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    服务时间
                </div>
                <select>
                    <option selected>18:00-20:00</option>
                    <option>20:00-22:00</option>
                </select>
            </label>
        </div>

        <ul class="list">

            <li class="item item-checkbox">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox" checked>
                </label>
                <p>郑先生 18650186805</p>
                <p>苏州 工业园 不知道</p>
                <p class="text-right"><span>编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="error">删除</span></p>
            </li>

            <li class="item item-checkbox">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox">
                </label>
                <p>郑先生 18650186805</p>
                <p>苏州 工业园 不知道</p>
                <p class="text-right"><span>编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="error">删除</span></p>
            </li>
        </ul>
    </ion-content>
</ion-view>
<div class="bar bar-footer bar-balanced">
    <h1 class="title">立即下单</h1>
</div>
