<ion-view>
    <ion-header-bar class="bar-balanced bar bar-header">
        <div class="row order-button-bar">
            <a class="col" ng-click="back()">
                返回
            </a>
            <a class="col text-center">
                <span class="active">
                    按件计价
                </span>
            </a>
            <a class="col text-center" ng-click="open('tab.item-bag')">
                <span>
                    按袋计价
                </span>
            </a>
            <a class="col text-right" ng-click="orderCart()">
                下单
            </a>
        </div>
    </ion-header-bar>
  <ion-content style="bottom: 98px;">
      <div class="row balanced-light-bg">
          <div class="col">
              <div class="button-bar">
                  <a class="button" ng-class="tabStatus==9?'button-balanced':'button-stable'" ng-click="tabStatus = 9">9元/件</a>
                  <a class="button" ng-class="tabStatus==19?'button-balanced':'button-stable'" ng-click="tabStatus = 19">19元/件</a>
                  <a class="button" ng-class="tabStatus==29?'button-balanced':'button-stable'" ng-click="tabStatus = 29">29元/件</a>
              </div>
          </div>
      </div>
      <div ng-show="tabStatus==9" ng-repeat="item in item9">
          <div class="row">
              <div class="col col-33" ng-repeat="i in item">
                  <img ng-src="{{i.get('image')}}" alt="" width="100%"/>
                  <p class="text-center" style="margin: 0">{{i.get('name')}}</p>
                  <div class="row">
                      <i class="col col-20 icon ion-minus-circled balanced" ng-click="sub(i)"></i>
                      <div class="col col-60 text-center balanced">
                          {{i.count || 0}}
                      </div>
                      <i class="col col-20 icon ion-plus-circled balanced" ng-click="add(i)"></i>
                  </div>
              </div>
          </div>
      </div>
      <div ng-show="tabStatus==19" ng-repeat="item in item19">
          <div class="row">
              <div class="col col-33" ng-repeat="i in item">
                  <img ng-src="{{i.get('image')}}" alt="" width="100%"/>
                  <p class="text-center">{{i.get('name')}}</p>
                  <div class="row">
                      <i class="col col-20 icon ion-minus-circled balanced" ng-click="sub(i)"></i>
                      <div class="col col-60 text-center balanced">
                          {{i.count || 0}}
                      </div>
                      <i class="col col-20 icon ion-plus-circled balanced" ng-click="add(i)"></i>
                  </div>
              </div>
          </div>
      </div>
      <div ng-show="tabStatus==29" ng-repeat="item in item29">
          <div class="row">
              <div class="col col-33" ng-repeat="i in item">
                  <img ng-src="{{i.get('image')}}" alt="" width="100%"/>
                  <p class="text-center">{{i.get('name')}}</p>
                  <div class="row">
                      <i class="col col-20 icon ion-minus-circled balanced" ng-click="sub(i)"></i>
                      <div class="col col-60 text-center balanced">
                          {{i.count || 0}}
                      </div>
                      <i class="col col-20 icon ion-plus-circled balanced" ng-click="add(i)"></i>
                  </div>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-balanced" style="margin-bottom: 47px;">
    <div class="row">
        <div class="col">总价:{{money}}元({{piece}}件)</div>
        <a class="col text-right" ng-click="orderCart()">
            确认订单
        </a>
    </div>
</div>
