<ion-view view-title="会员中心">
    <ion-content>
        <div class="row balanced-light-bg">
            <div class="col col-20 col-offset-10">
                <img src="/img/ionic.png" alt="" width="100%"/>
            </div>
            <div class="col col-60">
                <p>13812341234</p>
                <h4>会员卡号 00000001</h4>
            </div>
            <div class="col col-10"></div>
        </div>
        <div class="row balanced-light-bg" style="padding-bottom: 20px;">
            <div class="col col-40 col-offset-10 white-border" style="padding: 10px;">
              <span>
                  余额:
              </span>
              <span class="">
                  120.00
              </span>
                <span class="pull-right white-color">|</span>
            </div>
            <div class="col col-40 white-border" style="padding: 10px;">
              <span>
                  优惠券:
              </span>
              <span class="">
                  1 张
              </span>
            </div>
            <div class="col col-10"></div>
        </div>
    </ion-content>
</ion-view>
