<ion-header-bar class="bar-balanced bar bar-header">
    <h1 class="title">洗个毛线</h1>
</ion-header-bar>
<ion-view view-title="洗个毛线">
  <ion-content class="padding">
      <div class="row ad">
          <div class="col" ng-click="open('tab/item/piece')">
              <img src="img/home/ad-icon_03.png" width="60%"/>
              <p>按件洗衣</p>
              <p class="text-right"><span class="focus1" style="color: #f00">9</span>元起</p>
          </div>
          <div class="col" ng-click="open('tab/item/bag')">
              <img src="img/home/ad-icon_05.png" width="60%"/>
              <p>按袋洗衣</p>
              <p class="text-right"><span class="focus2" style="color: #fcb30f">99</span>/袋</p>
          </div>
          <div class="col" ng-click="open('tab/pay')">
              <img src="img/home/ad-icon_07.png" width="60%"/>
              <p>会员充值</p>
              <p>
                  <span class="focus3" style="color: #fcb30f">冲500</span>
              </p>
              <p>
                  <span class="focus4" style="color: #fcb30f">送100</span>
              </p>
          </div>
          <div class="col" ng-click="open('tab/service')">
              <img src="img/home/ad-icon_09.png" width="60%"/>
              <p>服务范围</p>
          </div>
      </div>
      <div class="banner">
          <ion-slide-box>
              <ion-slide>
                  <div class="box">
                      <img src="img/home/home-banner1.jpg" alt="" width="100%"/>
                  </div>
              </ion-slide>
              <ion-slide>
                  <div class="box">
                      <img src="img/home/home-banner1.jpg" alt="" width="100%"/>
                  </div>
              </ion-slide>
              <ion-slide>
                  <div class="box">
                      <img src="img/home/home-banner1.jpg" alt="" width="100%"/>
                  </div>
              </ion-slide>
          </ion-slide-box>
      </div>
      <div class="one-click text-center" style="margin-top: 10px">
          <img src="img/home/home-oneclick.jpg" alt="" width="50%"/>
      </div>
  </ion-content>
</ion-view>
