<ion-header-bar class="bar-balanced bar bar-header">
    <h1 class="title">会员中心</h1>
</ion-header-bar>
<ion-view ng-controller="UserCtrl">
    <ion-content>
        <div class="row balanced-light-bg">
            <div class="col col-20 col-offset-10">
                <i class="icon ion-android-person" style="font-size: 60px"></i>
                <!--<img src="img/ionic.png" alt="" width="100%"/>-->
            </div>
            <div class="col col-60">
                <p>{{cUser.get('username')}}</p>
                <h5>会员卡号 {{cUser.id}}</h5>
            </div>
            <div class="col col-10"></div>
        </div>
        <div class="row balanced-light-bg" style="padding-bottom: 20px;">
            <div class="col col-40 col-offset-10 white-border"
                 style="padding: 10px;">
              <span>
                  余额:
              </span>
              <span class="">
                  {{cUser.get('money') || 0}} 元
              </span>
                <span class="pull-right white-color">|</span>
            </div>
            <div class="col col-40 white-border" style="padding: 10px;">
              <span>
                  优惠券:
              </span>
              <span class="">
                  0 张
              </span>
            </div>
            <div class="col col-10"></div>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#" ng-click="bindCard()">
                <i class="icon ion-card"></i>
                绑定实体卡
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-ios-location-outline"></i>
                常用地址
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#" style="display: none;">
                <i class="icon ion-android-menu"></i>
                更多
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#" ng-click="love()">
                <i class="icon ion-android-favorite-outline"></i>
                爱心捐赠
                <i class="icon ion-ios-arrow-forward"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="logout()">
                <i class="icon ion-android-walk"></i>
                退出系统
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
