<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="resource/img/favicon.png">

    <title>管理后台</title>

    <!-- Bootstrap core CSS -->
    <link href="resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="resource/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="resource/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="resource/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="resource/css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="resource/css/style.css" rel="stylesheet">
    <link href="resource/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="resource/js/html5shiv.js"></script>
      <script src="resource/js/respond.min.js"></script>
    <![endif]-->

      <script src="resource/lib/avoscloud-sdk/dist/av.js"></script>
      <script src="resource/lib/angular/angular.js"></script>
      <script src="resource/lib/angular/angular-route.js"></script>
      <script src="resource/lib/yike/js/db.js"></script>

      <script src="resource/js/admin/utils/utils.js"></script>
      <script src="resource/js/admin/utils/utils.upload.js"></script>

      <!--script for this page-->
      <script src="resource/js/admin/app.js"></script>

      <script src="resource/js/admin/ad/ad.js"></script>
      <script src="resource/js/admin/ad/ad.list.js"></script>
      <script src="resource/js/admin/ad/ad.add.js"></script>

      <script src="resource/js/admin/home/home.js"></script>
      <script src="resource/js/admin/home/home.list.js"></script>

      <script src="resource/js/admin/setting/setting.js"></script>
      <script src="resource/js/admin/setting/setting.list.js"></script>
      <script src="resource/js/admin/setting/setting.add.js"></script>

      <script src="resource/js/admin/user/user.js"></script>
      <script src="resource/js/admin/user/user.list.js"></script>
      <script src="resource/js/admin/user/user.add.js"></script>

      <script src="resource/js/admin/address/address.js"></script>
      <script src="resource/js/admin/address/address.list.js"></script>
      <script src="resource/js/admin/address/address.add.js"></script>

      <script src="resource/js/admin/item/item.js"></script>
      <script src="resource/js/admin/item/item.list.js"></script>
      <script src="resource/js/admin/item/item.add.js"></script>

      <script src="resource/js/admin/order/order.js"></script>
      <script src="resource/js/admin/order/order.list.js"></script>
      <script src="resource/js/admin/order/order.add.js"></script>

      <script src="resource/js/admin/pay/pay.js"></script>
      <script src="resource/js/admin/pay/pay.list.js"></script>
      <script src="resource/js/admin/pay/pay.add.js"></script>

      <script src="resource/js/admin/withdraw/withdraw.js"></script>
      <script src="resource/js/admin/withdraw/withdraw.list.js"></script>
      <script src="resource/js/admin/withdraw/withdraw.add.js"></script>
  </head>

  <body>

  <section id="container">
      <!--header start-->
      <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="/admin" class="logo">管理<span>后台</span></a>
            <!--logo end-->
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="resource/img/avatar1_small.jpg">
                            <span class="username">Jhon Doue</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li><a href="#"><i class=" icon-suitcase"></i>Profile</a></li>
                            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="icon-bell-alt"></i> Notification</a></li>
                            <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a class="active" href="/admin">
                          <i class="icon-dashboard"></i>
                          <span>首页</span>
                      </a>
                  </li>

                  <li>
                      <a href="/admin#setting">
                          <i class="icon-laptop"></i>
                          <span>系统设置</span>
                      </a>
                  </li>

                  <li>
                      <a href="/admin#ad">
                          <i class="icon-laptop"></i>
                          <span>广告设置</span>
                      </a>
                  </li>

                  <li>
                      <a href="/admin#user">
                          <i class="icon-laptop"></i>
                          <span>用户管理</span>
                      </a>
                  </li>

                  <li>
                      <a href="/admin#address">
                          <i class="icon-laptop"></i>
                          <span>地址管理</span>
                      </a>
                  </li>

                  <li>
                      <a href="/admin#item">
                          <i class="icon-laptop"></i>
                          <span>产品管理</span>
                      </a>
                  </li>

                  <li>
                      <a href="/admin#order">
                          <i class="icon-laptop"></i>
                          <span>订单管理</span>
                      </a>
                  </li>

                  <li>
                      <a href="/admin#pay">
                          <i class="icon-laptop"></i>
                          <span>充值管理</span>
                      </a>
                  </li>

                  <li>
                      <a href="/admin#withdraw">
                          <i class="icon-laptop"></i>
                          <span>提现管理</span>
                      </a>
                  </li>
                  <!--multi level menu end-->

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <div ng-view>
              </div>
          </section>
      </section>
      <!--main content end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="resource/js/jquery.js"></script>
    <script src="resource/js/jquery-1.8.3.min.js"></script>
    <script src="resource/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="resource/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="resource/js/jquery.scrollTo.min.js"></script>
    <script src="resource/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="resource/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="resource/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="resource/js/owl.carousel.js" ></script>
    <script src="resource/js/jquery.customSelect.min.js" ></script>
    <script src="resource/js/respond.min.js" ></script>

    <script class="include" type="text/javascript" src="resource/js/jquery.dcjqaccordion.2.7.js"></script>

    <!--common script for all pages-->
    <script src="resource/js/common-scripts.js"></script>

  </body>
</html>
